version: '3.8'

services:
  # 백엔드 서비스 정의
  backend:
    build: ./backend
    ports:
      - "8000:8000"  # 내 컴퓨터 8000포트 <-> 컨테이너 8000포트 연결
    volumes:
      - ./backend:/app # (선택) 코드를 고치면 바로 반영되게 연결(Hot Reload)

  # 프론트엔드 서비스 정의
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"  # 내 컴퓨터 3000포트 <-> 컨테이너 3000포트 연결
    volumes:
      - ./frontend:/app
      - /app/node_modules # 노드 모듈은 덮어쓰지 않게 보호
    depends_on:
      - backend # 백엔드가 켜진 뒤에 실행