apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend-container
        image: my-k8s-project-backend:latest  # 도커 이미지 이름 확인!
        imagePullPolicy: Never
        ports:
        - containerPort: 8000