apiVersion: v1
kind: Service
metadata:
  name: backend-service  # 프론트엔드가 이 이름으로 찾음
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  type: LoadBalancer